<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>940122157261-4eo7o8962pbq0b4a6vsqi785kafsarsl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940122157261-4eo7o8962pbq0b4a6vsqi785kafsarsl</string>
	<key>API_KEY</key>
	<string>AIzaSyAHze7buD4g3jFcka-dk_QT8MmU-fHn9NQ</string>
	<key>GCM_SENDER_ID</key>
	<string>940122157261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.bts.FirebaseTest</string>
	<key>PROJECT_ID</key>
	<string>fir-test-53ecd</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-53ecd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:940122157261:ios:89c2fd40eb9b2556</string>
	<key>DATABASE_URL</key>
	<string>https://fir-test-53ecd.firebaseio.com</string>
</dict>
</plist>